@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2D2B6, #F2A35E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #685e59a2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2A35E;
    text-align: center;
    text-shadow: 1px 1px 2px #66482d;
}

h2 {
    color: #403608;
}

p {
    text-align: justify;
}